version: '3.8'

services:
  # contact-api:
    # build:
      # context: .
      # dockerfile: Dockerfile
    # environment:
      # ASPNETCORE_ENVIRONMENT: Development
      # ConnectionStrings__DefaultConnection: "Server=sqlserver,1433;Database=G60_TechChallenge_02;User ID=sa;Password=senha@123;MultipleActiveResultSets=true;TrustServerCertificate=true"
    # ports:
      # - "8080:8080"
    # depends_on:
      # - sqlserver
    # networks:
      # - monitoring
    # volumes:
      # - ./UserSecrets:/root/.microsoft/usersecrets:ro
    # restart: always

  # sqlserver:
    # image: mcr.microsoft.com/mssql/server:2019-latest
    # container_name: sqlserver
    # environment:
      # - ACCEPT_EULA=Y
      # - SA_PASSWORD=senha@123
    # ports:
      # - "1433:1433"
    # networks:
      # - monitoring
    # volumes:
      # - sql_data:/var/opt/mssql
    # restart: always
    
  # prometheus:
    # image: prom/prometheus:latest
    # container_name: prometheus
    # ports:
      # - "9090:9090"
    # networks:
      # - monitoring
    # volumes:
      # - ./prometheus.yml:/etc/prometheus/prometheus.yml
    # command:
      # - "--config.file=/etc/prometheus/prometheus.yml"

  # grafana:
    # image: grafana/grafana:latest
    # container_name: grafana
    # ports:
      # - "3000:3000"
    # networks:
      # - monitoring
    # environment:
      # - GF_SECURITY_ADMIN_USER=admin
      # - GF_SECURITY_ADMIN_PASSWORD=admin
    # depends_on:
      # - prometheus
    # volumes:
      # - grafana_data:/var/lib/grafana
      
  rabbitmq:
    image: rabbitmq:3-management  # Versão com painel de administração
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    ports:
      - "5672:5672"  # Porta de comunicação entre microsserviços
      - "15672:15672" # Painel de administração do RabbitMQ
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge

#volumes:
  # sql_data:
  # grafana_data:
